@keyframes homeBall {
  0% {bottom: 0%;}
  10%{bottom: 10%;}
  20%{bottom: 25%;}
  30%{bottom: 38%;}
  40%{bottom: 50%;}
  50%{bottom: 65%;}
  60%{bottom: 75%;}
  70%{bottom: 100%;}
  80%{bottom: 95%;}
  90%{bottom: 87%;}
  100%{bottom: 80%;}
}