.router-anim-enter-active {
    animation: appear 0.7s;
    animation-timing-function:ease-in-out;
}

.router-anim-leave-active {
    animation: disappear 0.7s;
    animation-timing-function:ease-in-out;
}

.next-router-anim-enter-active {
    animation: coming 0.75s;
    animation-timing-function:ease-in-out;
}

.next-router-anim-leave-active {
    animation: going 0.75s;
    animation-timing-function:ease-in-out;
}

.return-router-anim-enter-active {
    animation: return_coming 0.75s;
    animation-timing-function:ease-in-out;
}

.return-router-anim-leave-active {
    animation: return_going 0.75s;
    animation-timing-function:ease-in-out;
}

.profile-next-router-anim-enter-active {
    animation: profile_coming 1s;
    animation-timing-function:ease-in-out;
}

.profile-next-router-anim-leave-active {
    animation: profile_going 1s;
    animation-timing-function:ease-in-out;
}

.profile-return-router-anim-enter-active {
    animation: profile_return_coming 1s;
    animation-timing-function:ease-in-out;
}

.profile-return-router-anim-leave-active {
    animation: profile_return_going 1s;
    animation-timing-function:ease-in-out;
}