////////// COLORS //////////
$background: #f4f4f4;
$blue: #759bd8;
$white: #ffffff;
$dark-white: #d3d3d3;
$black: #383838;

////////// FONT SIZES //////////
$header: 2.5vw;
$big: 1.3vw;
$medium: 1vw;
