@import "animations";
@import "variables";
@import "router-animations";

*{
  box-sizing: border-box;
}

/////////// COLUMNS //////////
.gl-flex{
	display: flex;
	flex-wrap: wrap;
}

.gl-flex-vhcenter{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.gl-col-1{
	width: 100%;
}

.gl-col-2{
	width: 49.6%;
}

.gl-col-3{
	width: 33%;
}
///////////////////////////////


////////// ADJUSTING CENTER DIVS ///////////
.gl-vcenter-item{
	align-items: center;
}

.gl-hcenter-item{
	justify-content: center;
}

.gl-vhcenter-item{
	align-items: center;
	justify-content: center;
}
////////////////////////////////////////////


//////// ADJUSTING SPACE BETWEEN DIVS //////////
.gl-btwn-item{
	justify-content: space-between;
}

.gl-around-item{
	justify-content: space-around;
}

.gl-center-btwn-item{
	align-items: center;
	justify-content: space-between;
}

.gl-center-around-item{
	align-items: center;
	justify-content: space-around;
}

////////// BUTTONS //////////
.gl-button{
	border: 0.2vw solid white;
	color: white;
	padding: 0.75vw 3vw;
	transition: 0.4s;
	border-radius: 1px;
	background: none;
	cursor: pointer;
	outline: none;

	&.full-width{
		width: 100%;
	}

	&:hover{
		border: 0.2vw solid #8aace2;
		background: #8aace2;
		color: white;
	}
}

.gl-nav-button {
	cursor: pointer;
	z-index: 2;
	border: 1px solid $black;
	border-radius: 50%;
	opacity: 0;
	animation: textFromTop 0.75s ease-in-out 0.5s;
	animation-fill-mode: forwards; 
	box-shadow: 2px 2px 10px #888888;
	transition: 0.3s;
	user-select: none;

	.arrow{
		width: 3.6vw;
    	height: 3.6vw;
    	position: relative;

		&::before {
			content: '';
			width: 0vw;
			height: 0vw;
			transition: 0.3s;
			border-top: 0.75vw solid $black;
			border-left: 0.75vw solid transparent; 
			border-bottom: 0.6vw solid transparent;
			border-right: 0.75vw solid transparent;
			position: absolute;
    		top: 1.6vw;
    		left: 1.1vw;
		}
	}

	&:hover{
		box-shadow: none;
		background: $blue;
		
		.arrow{
			&::before {
				border-top: 0.75vw solid white;
			}
		}
	}

	&.left-nav {
		.arrow {
			transform: rotate(90deg)
		}
	}

	&.top-nav {
		.arrow {
			transform: rotate(180deg)
		}
	}
}

