@import "animations";
@import "variables";

*{
  box-sizing: border-box;
}

/////////// COLUMNS //////////
.gl-flex{
	display: flex;
	flex-wrap: wrap;
}

.gl-flex-vhcenter{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.gl-col-1{
	width: 100%;
}

.gl-col-2{
	width: 49.6%;
}

.gl-col-3{
	width: 33%;
}
///////////////////////////////


////////// ADJUSTING CENTER DIVS ///////////
.gl-vcenter-item{
	align-items: center;
}

.gl-hcenter-item{
	justify-content: center;
}

.gl-vhcenter-item{
	align-items: center;
	justify-content: center;
}
////////////////////////////////////////////


//////// ADJUSTING SPACE BETWEEN DIVS //////////
.gl-btwn-item{
	justify-content: space-between;
}

.gl-around-item{
	justify-content: space-around;
}

.gl-center-btwn-item{
	align-items: center;
	justify-content: space-between;
}

.gl-center-around-item{
	align-items: center;
	justify-content: space-around;
}

////////// ROUTER ANIMATION //////////
.router-anim-enter-active {
  animation: appear 0.7s;
  animation-timing-function:ease-in-out;
}

.router-anim-leave-active {
  animation: disappear 0.7s;
  animation-timing-function:ease-in-out;
}

.next-router-anim-enter-active {
  animation: coming 1.3s;
  // animation-timing-function:ease-in-out;
  transform: translateX(100%);
}

.next-router-anim-leave-active {
  animation: going 1.3s;
  // animation-timing-function:ease-in-out;
  transform: translateX(0%);
}

.return-router-anim-enter-active {
  animation: return_coming 1.3s;
  // animation-timing-function:ease-in-out;
  transform: translateX(100%);
}

.return-router-anim-leave-active {
  animation: return_going 1.3s;
  // animation-timing-function:ease-in-out;
  transform: translateX(0%);
}

////////// BUTTONS //////////
.gl-button{
	border: 0.2vw solid white;
	color: white;
	padding: 0.75vw 3vw;
	transition: 0.4s;
	border-radius: 1px;
	background: none;
	cursor: pointer;
	outline: none;

	&.full-wdth{
		width: 100%;
	}

	&:hover{
		border: 0.2vw solid #8aace2;
		background: #8aace2;
		color: white;
	}
}

